body {
	font-family: 'Roboto';
	max-width: 100%;
}

html, body {
	overflow-x: hiddens;
}

	/* header  */

header {
	background-color: blue;	
	width: 100%;
	max-width: 100%;
}

.header-logo img {
	width: 7em;
	height: 2em;
	max-width: 100%;
}
.nav {
	color: white;
	list-style-type: none;	
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	
}

.nav li {
	list-style: none;
}

.nav-menu {
	font-size: .8em;
	font-weight: 900;
}
.nav-menu:hover {
	color: rgb(226, 123, 123);
}

.burger {
	cursor: pointer;
}

.line {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #fff;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
}

.button {
	color: #ffffff;
	font-size: .9em;
	font-weight: 600;
	text-align: center;
	width: 6em;
	height: 20px;
	max-width: 100%;
	line-height: 20px;
	padding: 0 1rem;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 1px white;
	display: flex;
	justify-content: space-between;
}

.button:hover {
	color: rgb(226, 123, 123);
}

header .fa {
	line-height: 20px;
	padding-left: 5px;
}

.search-top {
	width: 45px;
	height: 45px;
	max-width: 100%;
	border-radius: 50%;
	color: white;
	line-height: 45px;
	font-size: 1em;
	font-weight: 100;
}

.search-top:hover {
	color: rgb(226, 123, 123);
}

.menu-bars {
	color: white;
}

.menu-bars:hover {
	color: rgb(226, 123, 123);
}

header hr {
	background-color: #788edb;
}

.header-title {
	padding-top: 20em;
	padding-bottom: 20em;
	text-align: center;
	color: white;	
	font-weight: 900;
}
.header-title h1 {
	font-size: 3em;
	font-weight: 900;
}

/* section-welcom-text  */

.welcom-text {
	background-color: #fafafa;
	text-align: center;
}

.welcom-text h1 {
	font-weight: 900;
	padding-top: 5rem;
}

.welcom-text p {
	color: #855f5f;
}

.welcom-text hr {
	width: 10em;
	max-width: 100%;
	background-color: #30a3f0;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.welcom-text .fa {
	background-color: #ffffff;
	color: #30a3f0;
	position: relative;
	top: -28px;
	border-style: 1px;
}

.apple-image img {
	width: 100%;
	max-width: 100%;
	padding-top: 2rem;
	font-weight: 100;
}

/* section-features  */

.features h2 {
	padding-top: 2em;
	padding-bottom: 1rem;
	font-weight: 600;
}

.features p {
	color: #855f5f;
}

.block-icons {
	text-align: center;
	border: solid;
	color: #e4e4e4;
	margin-top: 3.5em;
	margin-bottom: 5.5em;
	height: 350px;
}

.block-icons:hover {
	border: solid;
	color: #30a3f0;
}

@media only screen and (max-width: 768px) {
	.block-icons {
		margin: 1em 0;
	}
}

.block-icons .icons {
	padding-top: 3em;
	padding-bottom: 2.5em;
}

.block-icons h6 {
	color: #000000;
	font-weight: 600;
}

.block-icons p {
	padding-top: 2em;
	padding-bottom: 3em;
}

/* section-about-us  */

.about-us {
	background-color: #fafafa;
}

@media only screen and (max-width: 768px) {
	.about-us {
		margin-top: 1em;
	}
}

.about-us h2 {
	padding-top: 6rem;
	padding-bottom: 2.5rem;
	font-weight: 600;
}

.about-us .img {
	padding: 0;
}

.bg-image img {
	width: 100%;
	height: 724px;
	max-width: 100%;
	padding-right: 3rem;
}

.list {
	display: flex;
	justify-content: space-between;
	height: 20px;
	line-height: 20px;
	margin: 1rem 0;
}

@media only screen and (max-width: 515px) {
	.list  {
		margin: 1.8rem 0;
	}
}

.list p {
	padding-left: 10px;
	word-wrap: break-word;
}

.about-us .btn {
	width: 10rem;
	max-width: 100%;
	margin-top: 2.5rem;
	margin-bottom: 6rem;
}

/* section-our-portfolio  */

.our-portfolio {
	text-align: center;
}

.our-portfolio h2 {
	padding-top: 3em;
	font-weight: 600;
}

.our-portfolio .text {
	margin-bottom: 4em;
}

.our-portfolio hr {
	width: 10em;
	max-width: 100%;
	background-color: #30a3f0;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.our-portfolio .fa {
	background-color: #ffffff;
	color: #30a3f0;
	position: relative;
	top: -28px;
	border-style: 1px;
}

.portfolio-nav p {
	color: #000000;
}

.portfolio-nav {
	width: 5em;
	height: 2em;
	max-width: 100%;
	line-height: 2em;
	margin: 0 10px;
	text-align: center;
	border-bottom: solid;
	color: #ffffff;
	padding-bottom: 2.5em;
}

.portfolio-nav:hover {
	border-bottom: solid;
	color: #4f8bcc;
	padding-bottom: 2.5em;
}

.hr2 hr {
	width: 100%;
	max-width: 100%;
	background-color: #e4e4e4;
	margin: 0;
	padding: 0;
}

.pictures1 {
	width: 100%;
	height: 16em;
	max-width: 100%;
	background-color: #855f5f;
	margin-top: 3em;
}

.pictures1 img {
	width: 100%;
	height: 100%;
	max-width: 100%;
}
.pictures1 img:hover {
	width: 105%;
	height: 105%;
	max-width: 100%;
}

.pictures2 {
	width: 100%;
	height: 35em;
	max-width: 100%;
	background-color: #855f5f;
	margin-top: 1.5em;
}

.pictures2 img {
	width: 100%;
	height: 100%;
	max-width: 100%;
}

.pictures2 img:hover {
	width: 102%;
	height: 102%;
	max-width: 100%;
}

.pictures3 {
	width: 100%;
	height: 16em;
	max-width: 100%;
	background-color: #855f5f;
	margin-top: 1.5em;
}

.pictures3 img {
	width: 100%;
	height: 100%;
	max-width: 100%;
}

.pictures3 img:hover {
	width: 105%;
	height: 105%;
	max-width: 100%;
}

.our-portfolio .btn {
	width: 10rem;
	max-width: 100%;
	margin-top: 3.5em;
	margin-bottom: 6em;
}

	/* section-vidoe */

.section-video {
	background-image: url(image/bg-img2.jpg);
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding: 15em 0;
}
.section-video h1 {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 1rem 0;
}

.section-video h4 {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

	/* section-call-to-action */

.call-to-action {
	background-color: #e97289;
	padding: 6em 0;
}

.call-to-action p {
	color: #ffffff;
	font-size: 1.8em;
	font-family: 'Raleway';
}

.call-to-action .btn {
	width: 10em;
	height: 3em;
	max-width: 100%;
}

	/* section-services */

.services {
	padding: 6em 0;
}

.services h3 {
	padding-bottom: 1.5em;
	font-weight: 600;
}

@media only screen and (max-width: 992px) {
	.services h3 {
		padding-top: 1.5em;
	}
}

.services .testimonials {
	border: 2px solid;
	color: #e4e4e4;
	padding: 2em 2em 0 2em;
}

@media only screen and (max-width: 992px) {
	.services .testimonials {
		margin-bottom: 2em;
	}
}

.services .text {
	color: #707070;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.services .bg1 {
	position: relative;
	bottom: -1.5em;
}

.services .webstrot {
	position: relative;
	bottom: -1em;
	color: #000000;
}

.services .bg2 {
	position: relative;
	bottom: -1.7em;
	left: 1.8em;
}

.services .our-services {
	border: 2px solid;
	color: #e4e4e4;	
}

.services .tabs {
	border: 1px solid;
	color: #e4e4e4;
	background-color: #fafafa;
	width: 134px;
	height: 3em;
	max-width: 100%;
	line-height: 3em;
	text-align: center;
	margin-bottom: 2.5em;
}

.services .tabs:hover {
	color: #ffffff;
	background-color: #ffffff;
}

@media only screen and (max-width: 1200px) {
	.services .tabs {
		margin-bottom: 0;
	}
}

.tabs p {
	color: #000000;
	padding: 0;
	margin: 0;
}

.tabs p:hover {
	color: #30a3f0;
}

.tabs .col-3 {
	max-width: 100%;
}

.our-services img {
	margin-left: 2em;
	margin-top: 2em;
}

.our-services .text {
	padding-right: 1.5em;
	margin-top: 2em;
}

@media only screen and (max-width: 490px) {
	.our-services .text {
		margin-left: .5em;
	}
}

	/* section-our-team */

.our-team {
	background-color: #fafafa;
	text-align: center;
	padding-top: 6em;
	padding-bottom: 8em;
}

.our-team h3 {
	font-weight: 600;
}

.our-team hr {
	width: 10em;
	max-width: 100%;
	background-color: #30a3f0;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.our-team .fa {
	background-color: #ffffff;
	color: #30a3f0;
	position: relative;
	top: -28px;
}

.our-team .text-title {
	text-align: center;
	margin-bottom: 3em;
}

.our-team img {
	border-radius: 50%;
}

.our-team .text {
	text-align: left;
}

.our-team .text h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.our-team .text-name {
	color: #58b4f2;
	text-align: left;
}

.our-team .icons {
	width: 6em;
	max-width: 100%;
	position: relative;
	top: -4.5em;
	left: 3em;
}

@media only screen and (min-width: 992px) {
	.our-team .icons {
		left: 4.5em;
	}
}

.our-team .icons .fa {
	background-color: #414141;
	color: #7a7a7a;
	font-size: 1rem;
	padding: 0 .5rem;
}

.our-team .separator {
	width: 100%;
	height: 100%;
	max-width: 100%;
	background-color: #e4e4e4;
	margin: 3em 0;

}

	/* section-more-features */

.more-features {
	max-width: 100%;
	background-image: -moz-linear-gradient( 0deg, rgb(110,101,222) 0%, rgb(79,132,231) 56%, rgb(48,163,240) 100%);
  	background-image: -webkit-linear-gradient( 0deg, rgb(110,101,222) 0%, rgb(79,132,231) 56%, rgb(48,163,240) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(110,101,222) 0%, rgb(79,132,231) 56%, rgb(48,163,240) 100%);
	padding: 6em 0;  	
}

.more-features .ipad img {
	max-width: 100%;
	height: 500px;
	position: relative;
	left: 50px;
	top: 40px;
}

.more-features .icons img {
	padding: 2em 0;
}

.more-features .slider {
	padding: 1em 1em;
}

@media only screen and (max-width: 992px) {
	.more-features .slider {
		margin-top: 2em;
	}
}

.more-features .slider h5 {
	color: #ffffff;
	padding-bottom: 1rem;
}

.more-features .slider p {
	color: #cadbf8;
}

@media only screen and (max-width: 1200px) {
	.more-features .slider h5 {
		padding-bottom: .5rem;
	}

	.more-features .slider {
		padding-bottom: 0;
	}
}

	/* section-pricing-plans */

	.pricing-plans {
		padding: 6em 0;
		text-align: center;
	}

	.pricing-plans h3 {
		font-weight: 600;
	}
	
	.pricing-plans hr {
		width: 10em;
		max-width: 100%;
		background-color: #30a3f0;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.pricing-plans .fa {
		background-color: #ffffff;
		color: #30a3f0;
		position: relative;
		top: -28px;
		border-style: 1px;
	}

	.pricing-plans .text-title {
		text-align: center;
		margin-bottom: 3em;
	}

	.pricing-plans h4 {
		color: #ffffff;
		text-align: center;
	}

	.pricing-plans .price-st {
		background-color: #73c8b7;
		padding: 3em 6em;
	}

	.pricing-plans .price-st p {
		color: #ffffff;
		font-size: 4em;
		text-align: center;
		padding: 1rem 0;
	}

	.pricing-plans .price-st p::before {
		content: '$';
		font-size: 2rem;
		position: relative;
		top: -25px;
		right: 5px;
	}

	.pricing-plans .price-st p::after {
		content: '/month';
		font-size: 1rem;
	}

	.pricing-plans .price-pr {
		background-color: #e97289;
		padding: 3em 6em;
	}

	.pricing-plans .price-pr .best-seller {
		background-color: #f5f5f5;
		color: #000000;
		width: 140px;
		height: 24px;
		max-width: 100%;
		line-height: 24px;
		font-size: .8rem;
		transform: rotate(90deg);
		position: absolute;
		top: 52px;
		right: 10px;
	}

	@media only screen and (max-width: 992px) {
		.pricing-plans .price-pr .best-seller {
			margin-top: 1em;
		}
	}

	.pricing-plans .price-pr .best-seller::before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		right: 133px;
		top: -6px;
		border-width: 3px;
			border-top-width: initial;
			border-right-width: initial;
			border-bottom-width: initial;
			border-left-width: initial;
		border: solid #3a2b2b00;
			border-top-color: rgba(58, 43, 43, 0);
			border-top-style: solid;
			border-top-width: initial;
			border-right-color: #cdcdcd;
			border-right-style: solid;
			border-right-width: initial;
			border-bottom-color: #cdcdcd;
			border-bottom-style: solid;
			border-bottom-width: initial;
			border-left-color: rgba(58, 43, 43, 0);
			border-bottom-style: solid;
			border-bottom-width: initial;
	}

	.pricing-plans .price-pr p {
		color: #ffffff;
		font-size: 4em;
		text-align: center;
		padding: 1rem 0;
	}

	.pricing-plans .price-pr p::before {
		content: '$';
		font-size: 2rem;
		position: relative;
		top: -25px;
		right: 5px;
	}

	.pricing-plans .price-pr p::after {
		content: '/month';
		font-size: 1rem;
	}

	.pricing-plans .price-ul {
		background-color: #c183d6;
		padding: 3em 6em;
	}

	.pricing-plans .price-ul p {
		color: #ffffff;
		font-size: 4em;
		text-align: center;
		padding: 1rem 0;
	}

	.pricing-plans .price-ul p::before {
		content: '$';
		font-size: 2rem;
		position: relative;
		top: -25px;
		right: 5px;
	}

	.pricing-plans .price-ul p::after {
		content: '/month';
		font-size: 1rem;
	}

	.pricing-plans .btn {
		width: 9.5em;
		max-width: 100%;
	}

	.pricing-plans .price-text {
		text-align: center;
		padding-bottom: 3rem;
	}

	.pricing-plans .price-text h4 {
		color: #000000;
		padding: 2em 0;
	}

	.pricing-plans .price {
		border: #e4e4e4 2px solid;
	}

	.pricing-plans .price:hover {
		border: #e97289 2px solid;
	}

	@media only screen and (max-width: 992px) {
		.pricing-plans .price {
			margin-top: 1em;
		}
	}

	/* section-contact-us */

	.contact-us {
		background-color: #1a1a1a;
		text-align: center;
		padding-top: 6em;
		max-width: 100%;
	}

	.contact-us h3 {
		color: #ffffff;
		font-weight: 600;
	}

	.contact-us .text-title {
		text-align: center;
		color: #707070;
	}
	
	.contact-us hr {
		width: 10em;
		max-width: 100%;
		background-color: #30a3f0;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.contact-us .circle .fa {
		background-color: #1e1e1e;
		color: #30a3f0;
		position: relative;
		top: -28px;
		border-style: 1px;
	}

	.contact-us .logos {
		padding-top: 4em;
		padding-bottom: 6em;
	}

	.contact-us .logos img {
		width: 100%;
		max-width: 100%;
	}

	.contact-us .full-name {
		height: 2.5rem;
		line-height: 2.5rem;
		border: 1px #707070 solid;
		border-radius: 5px;
	}

	.contact-us .name {
		color: #707070;
		text-align: left;
		padding-left: 1rem;
	}

	.contact-us .user .fa{
		color: #707070;
	}

	.contact-us .email {
		height: 2.5rem;
		line-height: 2.5rem;
		border: 1px #707070 solid;
		border-radius: 5px;
		margin: 2rem 0;
	}

	.contact-us .name-address {
		color: #707070;
		text-align: left;
		padding-left: 1rem;
	}

	.contact-us .subject {
		height: 2.5rem;
		line-height: 2.5rem;
		border: 1px #707070 solid;
		border-radius: 5px;
	}

	.contact-us .envelope .fa{
		color: #707070;
	}

	.contact-us .name-subject {
		color: #707070;
		text-align: left;
		padding-left: 1rem;
	}

	.contact-us .reply .fa{
		color: #707070;
	}

	.contact-us .message {
		height: 184px;
		color: #707070;
		border: 1px #707070 solid;
		border-radius: 5px;
		padding-top: 1.5em;
		padding-left: 1.5em;
		padding-bottom: 1.5em;
	}

	@media only screen and (max-width: 992px) {
		.contact-us .message {
			margin-top: 2em;
		}
	}

	.contact-us .message p {
		text-align: left;
		padding-left: 1rem;
	}

	.contact-us .message .question {
		width: 18px;
		height: 18px;
		max-width: 100%;
		font-size: 12px;
		color: #000000;
		background-color: #707070;
		border-radius: 50%;
	}

	.contact-us .btn-bottom {
		padding-top: 2rem;
		padding-bottom: 6rem;
	}

	.contact-us .btn-bottom .btn {
		background-color: #313131;
		color: #ffffff;
		border: #313131 solid;
	}

	.contact-us .btn-to-top {
		background-color: #181818;
		color: #707070;
		font-size: 1.5em;
	}

	/* section-footer */

	.footer-top {
		background-color: #181818;
		padding: 5em 0;
	}

	.footer-top p {
		color: #707070;
	}

	.footer-address {
		border-right: 1px #303030  solid;
	}

	.footer-top .search {
		background-color: #242424;
		height: 48px;
		line-height: 48px;
		padding-left: 1rem;
		border-radius: 5px;
	}

	.footer-top .search .fa {
		color: #30a3f0;
	}

	.footer-top .phone-email span {
		color: #30a3f0;
	}

	.footer-bottom {
		background-color: #131313;
		color: #707070;
		padding: 2em 0;
	}

	.footer-bottom span {
		color: #73c8b7;
	}

	.footer-bottom .icons-footer .fa {
		width: 35px;
		height: 35px;
		max-width: 100%;
		line-height: 35px;
		background-color: #181818;
		border-radius: 50%;
		text-align: center;
	}

	@media only screen and (max-width: 992px) {
		.footer-bottom .icons-footer {
			margin-top: 1em;
		}
	}